.body {
    background-image: url(https://i.imgur.com/mSPU63U.jpg);
}
.section {
    margin: 0;
    background: #4c4c4d;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
} 
#div1 {
    background-color: white;
    height: 50px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#screen {
    background-color: white;
    height: 45px;
    width: 292px;
    text-decoration: solid,#4c4c4d;
    font-size:xx-large;
    font-weight: bolder;
    font-display:initial;
}
#div2 {
    align-content: center;
    height: 200px;
    width: 300px;
}
button {
    width: 24%;
    height: 10%;
    border: none;
    background-color: #4c4c4d;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}